.ball1, .ball2{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
}

.ball2{
    right: 0;
}

.container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    border: 1px solid grey;
    background-color: black;
    padding: 5px;
    border-radius: 50px;
}